<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter un Médecin</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Ajouter un Médecin</h1>
<form action="/doctors/save" method="post">
    <label for="name">Nom :</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="specialty">Spécialité :</label>
    <input type="text" id="specialty" name="specialty" required>
    <br>
    <label for="email">Email :</label>
    <input type="email" id="email" name="email" required>
    <br>
    <button type="submit">Enregistrer</button>
</form>
</body>
</html>
