<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8">
	<title>HyperMax</title>
</head>
<body>
<section>
	<!-- Début du Carrousel -->

	<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="img/logo.png" class="d-block w-100" alt="Logo HyperMax" height="350px">
			</div>
			<div class="carousel-item">
				<img src="img/ecom3.jpg" class="d-block w-100" alt="Image e-commerce 1" height="350px">
			</div>
			<div class="carousel-item">
				<img src="img/ecom2.jpg" class="d-block w-100" alt="Image e-commerce 2" height="350px">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Précédent</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Suivant</span>
		</button>
	</div>

	<!-- Fin du Carrousel -->

	<!-- Début du Module Catégories -->
	<div class="container">
		<div class="row">
			<p class="text-center fs-4">Catégories</p>
			<div class="col-md-2" th:each="c : ${category}">
				<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
					<div class="card-body text-center">
						<img th:src="@{'img/category_img/'+${c.imageName}}" width="65%" height="140px" th:alt="${c.name}">
						<br>
						<a th:href="@{'/products?category='+${c.name}}" class="text-decoration-none">[[${c.name}]]</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Fin du Module Catégories -->

	<!-- Début du Module Nouveaux Produits -->
	<div class="container-fluid bg-light p-3">
		<div class="row">
			<p class="text-center fs-4">Nouveaux Produits</p>

			<div class="col-md-3" th:each="p : ${products}">
				<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
					<div class="card-body text-center">
						<img th:src="@{'img/product_img/'+${p.image}}" th:alt="${p.title}" width="65%" height="140px">
						<p class="text-center">
							<a th:href="@{'/product/'+${p.id}}" class="text-decoration-none">[[${p.title}]]</a>
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- Fin du Module Nouveaux Produits -->
</section>
</body>
</html>
