<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8">
	<title>Inscription</title>
</head>
<body>
<section>
	<div class="container mt-5 p-5">
		<div class="row">
			<div class="col-md-5 p-5">
				<img alt="" src="img/logo.png" width="100%" height="400px">
			</div>
			<div class="col-md-7 p-2">
				<div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
					<div class="card-header text-center">
						<p class="fs-4 text-center">Inscription</p>
						<th:block th:if="${session.succMsg}">
							<p class="text-success fw-bold">[[${session.succMsg}]]</p>
							<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>

						<th:block th:if="${session.errorMsg}">
							<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
							<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>
					</div>
					<div class="card-body">
						<form action="/saveUser" enctype="multipart/form-data" id="userRegister" novalidate
							  method="post">
							<div class="row">
								<div class="col">
									<label class="form-label">Nom complet</label>
									<input required class="form-control" name="name" type="text">
								</div>

								<div class="col">
									<label class="form-label">Numéro de téléphone</label>
									<input required class="form-control" name="mobileNumber" type="number">
								</div>
							</div>

							<div class="mb-3">
								<label class="form-label">Email</label>
								<input required class="form-control" name="email" type="email">
							</div>

							<div class="row">
								<div class="col">
									<label class="form-label">Adresse</label>
									<input required class="form-control" name="address" type="text">
								</div>

								<div class="col">
									<label class="form-label">Ville</label>
									<input required class="form-control" name="city" type="text">
								</div>
							</div>

							<div class="row">
								<div class="col">
									<label class="form-label">État</label>
									<input required class="form-control" name="state" type="text">
								</div>

								<div class="col">
									<label class="form-label">Code postal</label>
									<input required class="form-control" name="pincode" type="number">
								</div>
							</div>

							<div class="row">
								<div class="col">
									<label class="form-label">Mot de passe</label>
									<input required class="form-control" name="password" type="password" id="pass">
								</div>

								<div class="col">
									<label class="form-label">Confirmer le mot de passe</label>
									<input required class="form-control" name="confirmpassword" type="password">
								</div>
							</div>

							<div class="mb-3">
								<label class="form-label">Image de profil</label>
								<input class="form-control" name="img" type="file">
							</div>

							<button type="submit" class="btn bg-primary text-white col-md-12">S'inscrire</button>
						</form>
					</div>

					<div class="card-footer text-center">
						Vous avez déjà un compte ?
						<a href="/signin" class="text-decoration-none">Connexion</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>
