<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inscription</title>
</head>
<body>
<section>
	<div class="container mt-5 p-5">
		<div class="row">
			<div class="col-md-5 p-5">
				<img alt="Image e-commerce" src="img/ecom.png" width="100%" height="400px">
			</div>
			<div class="col-md-7 p-2">
				<div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
					<div class="card-header text-center">
						<p class="fs-4 text-center">Inscription</p>
						<th:block th:if="${session.succMsg}">
							<p class="text-success fw-bold">[[${session.succMsg}]]</p>
							<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>

						<th:block th:if="${session.errorMsg}">
							<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
							<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>
					</div>
					<div class="card-body">
						<form action="/saveUser" enctype="multipart/form-data" id="userRegister" novalidate
							  method="post">
							<div class="row">
								<div class="col">
									<label class="form-label" for="name">Nom complet</label>
									<input required class="form-control" id="name" name="name" type="text" placeholder="Entrez votre nom complet">
								</div>

								<div class="col">
									<label class="form-label" for="mobileNumber">Numéro de téléphone</label>
									<input required class="form-control" id="mobileNumber" name="mobileNumber" type="number" placeholder="Entrez votre numéro">
								</div>
							</div>

							<div class="mb-3">
								<label class="form-label" for="email">E-mail</label>
								<input required class="form-control" id="email" name="email" type="email" placeholder="Entrez votre e-mail">
							</div>

							<div class="row">
								<div class="col">
									<label class="form-label" for="address">Adresse</label>
									<input required class="form-control" id="address" name="address" type="text" placeholder="Entrez votre adresse">
								</div>

								<div class="col">
									<label class="form-label" for="city">Ville</label>
									<input required class="form-control" id="city" name="city" type="text" placeholder="Entrez votre ville">
								</div>
							</div>

							<div class="row">
								<div class="col">
									<label class="form-label" for="state">État</label>
									<input required class="form-control" id="state" name="state" type="text" placeholder="Entrez votre état">
								</div>

								<div class="col">
									<label class="form-label" for="pincode">Code postal</label>
									<input required class="form-control" id="pincode" name="pincode" type="number" placeholder="Entrez votre code postal">
								</div>
							</div>

							<div class="row">
								<div class="col">
									<label class="form-label" for="pass">Mot de passe</label>
									<input required class="form-control" id="pass" name="password" type="password" placeholder="Choisissez un mot de passe">
								</div>

								<div class="col">
									<label class="form-label" for="confirmPassword">Confirmer le mot de passe</label>
									<input required class="form-control" id="confirmPassword" name="confirmpassword" type="password" placeholder="Confirmez votre mot de passe">
								</div>
							</div>

							<div class="mb-3">
								<label class="form-label" for="img">Image de profil</label>
								<input class="form-control" id="img" name="img" type="file">
							</div>

							<button type="submit" class="btn bg-primary text-white col-md-12">S'inscrire</button>
						</form>
					</div>

					<div class="card-footer text-center">
						Vous avez déjà un compte ? <a href="/login" class="text-decoration-none">Se connecter</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>
