<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/scripts/dashboard.js" defer></script>
    <title>Dashboard</title>
</head>
<body>
    <div class="container-dashboard">
        <div class="header">
            <div class="links-container">
                <a class="link-dashboard" href="/songs/new">Agregar Nueva</a>
                <a class="link-dashboard" href="/songs/topTen">Top Canciones</a>
            </div>

            <form class="form-buscar">
                <input id="input_artista" name="input_artista" type="text" placeholder="Artista...">
                <input id="input_buscar" type="submit" value="Buscar">
            </form>
        </div>
        <h3 class="sub-titulo">Canciones Registradas</h3>
        <div class="tabla">
            <div class="fila encabezado">
                <div class="columna">Canción</div>
                <div class="columna">Clasificación</div>
                <div class="columna">Acciones</div>
            </div>
            <div class="cuerpo"></div>
        </div>

    </div>
</body>
</html>