<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/scripts/topTen.js" defer></script>
    <title>Top Ten</title>
</head>
<body>
<div class="container-dashboard">
    <div class="header">
        <h1 class="titulo-topten">Las canciones mejor rankeadas</h1>
        <a class="link-dashboard" href="/dashboard">Dashboard</a>
    </div>
    <h3 class="sub-titulo">TOP 10 DE LAS MEJORES</h3>
    <div class="tabla tabla-top">
        
    </div>

</div>
</body>
</html>