<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8">
	<title>Modifier le produit</title>
</head>
<body>
	<section>
		<div class="container p-5 mt-3">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="card card-sh">
						<div class="card-header text-center ">
							<p class="fs-4">Modifier le produit</p>

							<th:block th:if="${session.succMsg}">
								<p class="text-success fw-bold">[[${session.succMsg}]]</p>
								<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>

							<th:block th:if="${session.errorMsg}">
								<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
								<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>

						</div>
						<div class="card-body">
							<form action="/admin/updateProduct" method="post"
								enctype="multipart/form-data">
								<input type="hidden" name="id" th:value="${product.id}">
								<div class="mb-3">
									<label>Entrez le titre</label> <input type="text" name="title"
										th:value="${product.title}" class="form-control">
								</div>

								<div class="mb-3">
									<label>Entrez la description</label>
									<textarea rows="3" cols="" class="form-control"
										name="description">[[${product.description}]]</textarea>
								</div>
								<div class="row">
									<div class="mb-3 col">
										<label>Catégorie</label> <select class="form-control"
											name="category">
											<option>[[${product.category}]]</option>
											<option th:each="c:${categories}">[[${c.name}]]</option>
										</select>
									</div>
									<div class="mb-3 col">
										<label>Entrez le prix</label> <input type="number" name="price"
											th:value="${product.price}" class="form-control">
									</div>
								</div>

								<div class="row">
									<div class="mb-3 col">
										<label>Remise</label> <input type="number" name="discount"
											th:value="${product.discount}" class="form-control">
									</div>
									<div class="mb-3 col">
										<label>Prix après remise</label> <input type="number" readonly
											th:value="${product.discountPrice}" class="form-control">
									</div>
								</div>

								<div class="mb-3">
									<label>Statut</label>

									<div class="form-check">
										<input class="form-check-input" type="radio" th:checked="${product.isActive==true}"
											value="true" name="isActive" id="flexRadioDefault1">
										<label class="form-check-label" for="flexRadioDefault1">
											Active </label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="isActive" th:checked="${product.isActive==false}"
											value="false" id="flexRadioDefault2"> <label
											class="form-check-label" for="flexRadioDefault2">
											Inactive </label>
									</div>

								</div>

								<div class="row">

									<div class="mb-3 col">
										<label>Entrez le stock</label> <input type="text" name="stock"
											th:value="${product.stock}" class="form-control">
									</div>

									<div class="mb-3 col">
										<label>Ajouter une image</label> <input type="file" name="file"
											class="form-control">
									</div>

									<div class="mt-1">
										<img th:src="@{'/img/product_img/'+${product.image}}"
											width="100px" height="100px">
									</div>

								</div>
								<button class="btn btn-primary col-md-12">Mettre à jour</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>