<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8">
	<title>Tableau de bord Administrateur</title>
</head>
<body>
<section>
	<div class="container p-5">
		<p class="text-center fs-3 mt-4">Tableau de bord Administrateur</p>
		<div class="row p-5">

			<!-- Carte Ajouter un Produit -->
			<div class="col-md-4 mt-2">
				<a href="/admin/loadAddProduct" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-primary">
							<i class="fa-solid fa-square-plus fa-3x"></i>
							<h4>Ajouter un Produit</h4>
						</div>
					</div>
				</a>
			</div>

			<!-- Carte Ajouter une Catégorie -->
			<div class="col-md-4 mt-2">
				<a href="/admin/category" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-warning">
							<i class="fa-solid fa-list fa-3x"></i>
							<h4>Ajouter une Catégorie</h4>
						</div>
					</div>
				</a>
			</div>

			<!-- Carte Voir les Produits -->
			<div class="col-md-4 mt-2">
				<a href="/admin/products" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-success">
							<i class="fa-solid fa-table-list fa-3x"></i>
							<h4>Voir les Produits</h4>
						</div>
					</div>
				</a>
			</div>

			<!-- Carte Commandes -->
			<div class="col-md-4 mt-4">
				<a href="/admin/orders" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-warning">
							<i class="fa-solid fa-box-open fa-3x"></i>
							<h4>Commandes</h4>
						</div>
					</div>
				</a>
			</div>

			<!-- Carte Utilisateurs -->
			<div class="col-md-4 mt-4">
				<a href="/admin/users?type=1" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-primary">
							<i class="fa-solid fa-circle-user fa-3x"></i>
							<h4>Utilisateurs</h4>
						</div>
					</div>
				</a>
			</div>

			<!-- Carte Ajouter un Admin -->
			<div class="col-md-4 mt-4">
				<a href="/admin/add-admin" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-primary">
							<i class="fa-solid fa-user-plus fa-3x"></i>
							<h4>Ajouter un Admin</h4>
						</div>
					</div>
				</a>
			</div>

			<!-- Carte Admins -->
			<div class="col-md-4 mt-4">
				<a href="/admin/users?type=2" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-primary">
							<i class="fa-solid fa-circle-user fa-3x"></i>
							<h4>Admins</h4>
						</div>
					</div>
				</a>
			</div>

		</div>
	</div>
</section>
</body>
</html>
