<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8">
	<title>Mon Profil</title>
</head>
<body>
<section>
	<div class="container-fluid mt-5 p-5 bg-light">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<p class="fs-3 text-center">Mon Profil</p>

				<th:block th:if="${session.succMsg}">
					<p class="text-success fw-bold text-center">[[${session.succMsg}]]</p>
					<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>

				<th:block th:if="${session.errorMsg}">
					<p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
					<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>

				<hr>

				<div class="text-center">
					<img alt="" th:src="@{'../img/profile_img/'+${user.profileImage}}"
						 class="border p-2" style="width: 110px; height: 110px; border-radius: 50%;">
				</div>

				<div class="col-md-8 offset-md-2 mt-4">
					<form action="/admin/update-profile" method="post" enctype="multipart/form-data">
						<table class="table table-borderless">
							<tbody>
							<tr>
								<th scope="row">Nom</th>
								<td>:</td>
								<td><input type="text" name="name" class="form-control" th:value="${user.name}"></td>
							</tr>
							<tr>
								<th scope="row">Numéro de téléphone</th>
								<td>:</td>
								<td><input type="text" name="mobileNumber" class="form-control" th:value="${user.mobileNumber}"></td>
							</tr>
							<tr>
								<th scope="row">Email</th>
								<td>:</td>
								<td><input type="text" name="" class="form-control" readonly th:value="${user.email}"></td>
							</tr>
							<tr>
								<th scope="row">Adresse</th>
								<td>:</td>
								<td><input type="text" name="address" class="form-control" th:value="${user.address}"></td>
							</tr>
							<tr>
								<th scope="row">Ville</th>
								<td>:</td>
								<td><input type="text" name="city" class="form-control" th:value="${user.city}"></td>
							</tr>
							<tr>
								<th scope="row">État</th>
								<td>:</td>
								<td><input type="text" name="state" class="form-control" th:value="${user.state}"></td>
							</tr>
							<tr>
								<th scope="row">Code postal</th>
								<td>:</td>
								<td><input type="text" name="pincode" class="form-control" th:value="${user.pincode}"></td>
							</tr>
							<tr>
								<th scope="row">Image</th>
								<td>:</td>
								<td><input type="file" name="img" class="form-control"></td>
							</tr>
							<tr>
								<th scope="row">Rôle</th>
								<td>:</td>
								<td><input type="text" name="" class="form-control" readonly th:value="${user.role}"></td>
							</tr>
							<tr>
								<th scope="row">Statut du compte</th>
								<td>:</td>
								<td><input type="text" name="" class="form-control" readonly th:value="${user.isEnable}">
									<input type="hidden" th:value="${user.id}" name="id"></td>
							</tr>
							<tr>
								<td></td>
								<td class="text-center">
									<button class="btn btn-sm bg-primary text-light">Mettre à jour</button>
								</td>
							</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
			<hr>
			<div class="col-md-10 offset-md-1 mt-1">
				<div class="row">
					<p class="text-center fs-3">Changer le mot de passe</p>
					<div class="col-md-6 offset-md-3">
						<form action="/admin/change-password" method="post">
							<table class="table table-borderless">
								<tbody>
								<tr>
									<th scope="row">Mot de passe actuel</th>
									<td><input type="password" name="currentPassword" class="form-control"></td>
								</tr>
								<tr>
									<th scope="row">Nouveau mot de passe</th>
									<td><input type="password" name="newPassword" class="form-control"></td>
								</tr>
								<tr>
									<th scope="row">Confirmer le mot de passe</th>
									<td><input type="password" name="confirmPassword" class="form-control"></td>
								</tr>
								<tr>
									<td></td>
									<td class="text-center">
										<button class="btn btn-sm bg-primary text-light col-md-4">Mettre à jour</button>
									</td>
								</tr>
								</tbody>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>