<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8">
	<title>Passer la commande</title>
</head>
<body>
<section>
	<div class="container mt-5 p-5">
		<form action="/user/save-order" method="post" id="orders" novalidate>
			<div class="row">
				<div class="col-md-6">
					<div class="mb-3 row">
						<p class="text-center fs-4">Adresse de Facturation</p>
						<hr>
						<div class="col p-1">
							<label>Prénom</label>
							<input type="text" name="lastName" required class="form-control mt-1">
						</div>
						<div class="col p-1">
							<label>Nom</label>
							<input type="text" name="firstName" required class="form-control mt-1">
						</div>
					</div>

					<div class="mb-3 row">
						<div class="col p-1">
							<label>Email</label>
							<input type="email" name="email" required class="form-control col">
						</div>
						<div class="col p-1">
							<label>Numéro de téléphone</label>
							<input type="text" name="mobileNo" required class="form-control col ms-2">
						</div>
					</div>

					<div class="mb-3 row">
						<div class="col p-1">
							<label>Adresse</label>
							<input type="text" name="address" required class="form-control col">
						</div>
						<div class="col p-1">
							<label>Ville</label>
							<input type="text" name="city" required class="form-control col ms-2">
						</div>
					</div>

					<div class="mb-3 row">
						<div class="col p-1">
							<label>État</label>
							<input type="text" name="state" required class="form-control col">
						</div>
						<div class="col p-1">
							<label>Code Postal</label>
							<input type="number" name="pincode" required class="form-control col ms-2">
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<p class="text-center fs-4">Mode de Paiement</p>
					<hr>
					<div class="card">
						<div class="card-body">
							<table class="table table-borderless">
								<tbody>
								<tr>
									<td>Prix Total</td>
									<td>:</td>
									<td>&#x202d;DT [[${orderPrice}]]</td>
								</tr>
								<tr>
									<td>Frais de Livraison</td>
									<td>:</td>
									<td>&#x202d;DT 250</td>
								</tr>

								<tr>
									<td>Taxe</td>
									<td>:</td>
									<td>&#x202d;DT 100</td>
								</tr>

								<tr class="border-top">
									<td>Prix Total</td>
									<td>:</td>
									<td>&#x202d;DT [[${totalOrderPrice}]]</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="card shadow p-3 mb-5 mt-2 bg-body-tertiary rounded">
						<div class="card-body">
							<div class="mb-3">
								<label class="form-label">Sélectionner le Mode de Paiement</label>
								<select required name="paymentType" class="form-control">
									<option value="">--sélectionner--</option>
									<option value="COD">Paiement à la Livraison</option>
									<option value="ONLINE">Paiement en Ligne</option>
								</select>
							</div>

							<button class="btn bg-primary text-white col-md-12">Passer la Commande</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
</body>
</html>